<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sairoxs123</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body bgcolor="black">
    <nav>
        <div class="center">
            <img src="/media/pfps/jss_logo.jpg" height="80" width="80">
            <h1>Sai Teja Sagiraju</h1>
        </div>
        <div class="logout">
            <a href="/main/logout">Logout</a>
        </div>
    </nav>

    <div id="main">
        <div class="search">
            <input type="search" id="search" oninput="search()">
        </div>
        <div class="users">
            <div class="display">
                <a href="/main/chat/{i.id}">
                    <div class="options">
                        <div class="option">
                            <div class="img">
                                <img src="../media/pfps/jss_logo.jpg" height="56" width="56">
                            </div>
                            <div class="user">
                                <h3>Sairoxs123</h3>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>